<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/layout :: common_header(~{::title},~{::link},~{::script})">
		<title>Sign Up</title>
		<link rel="stylesheet" href="/signup/style.css">
		<script src="/signup/script.js"></script>
	</head>
	<body class="container">
		
		<form name="signup-form" th:action="@{/signup}" th:object="${TUser}" method="post">
				<legend>Signup</legend>
				<fieldset>
					<label for="name">Name</label>
					<input type="text" name="name" th:field="*{name}">
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
				</fieldset>
				<fieldset>
					<label for="username">Username</label>
					<input type="text" name="username" th:field="*{username}">
					<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
				</fieldset>
				<fieldset>
					<label for="password">Password</label>
					<input type="password" name="password" th:field="*{password}">
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
				</fieldset>
				<input type="submit" value="Register" class="btn btn-success">
		</form>
		
	</body>
</html>