<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	    <title>Home</title> 
	</head>
	<body>
		<div>
		    <!-- <p th:text="'Name : ' + ${TUser.name}"/>
		    <p th:text="'Username : ' + ${TUser.username}"/>
		    <p th:text="'Password : ' + ${TUser.password}"/> -->
		    
		    <table>
		    	<thead>
		    		<tr>
			    		<th>Name</th>
			    		<th>Username</th>
			    		<th>Password</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr th:each="user: $(users)">
		    			<td th:text="${user.name}"></td>
		    			<td th:text="${user.username}"></td>
		    			<td th:text="${user.password}"></td>
		    		</tr>
		    	</tbody>
		    </table>
		    
		    <a href="/signup">Register</a>
		</div>
	</body>
</html>
